/*
 green #28d272
 green-darker #22c368
 green-hover #16994f
 orange #ffcf52
 black #272727
 */

/*
    -----------------------------------------
    UTILITIES
    -----------------------------------------
*/
.underline-link{
    text-decoration: underline;
}
.underline-link:hover{
    text-decoration: none;
}
.white-link{
    color: #fff;
}
.white-link:hover{
    color: #fff;
}
.font-size-8{
    font-size: 8pt!important;
}
.font-size-9{
    font-size: 9pt!important;
}
.font-size-10{
    font-size: 10pt!important;
}
.font-size-11{
    font-size: 11pt!important;
}
.cursor-pointer{
    cursor: pointer;
}
.text-green, .text-success{
    color: #2ad775!important;
}
.text-success-darker{
    color: #22c368;
}
.text-black{
    color: #272727;
}
.text-orange{
    color: #ffcf52;
}
.bg-green{
    background-color: #2ad775;
}
.bg-black{
    background-color: #272727;
}
.dark-link{
    padding-bottom: 0;
    line-height: 20px;
    text-decoration: none;
    border-bottom: 1px solid #444;
}
.dark-link:hover{
    text-decoration: none;
    border-bottom: none;
}
.min-height-500{
    min-height: 500px;
}
.w-20{
    width: 20%!important;
}
.w-30{
    width: 30%!important;
}
.w-40{
    width: 40%!important;
}
.w-50{
    width: 50%!important;
}
.w-60{
    width: 60%!important;
}
.w-65{
    width: 65%!important;
}
.w-70{
    width: 70%!important;
}
.w-75{
    width: 75%!important;
}
.w-80{
    width: 80%!important;
}
.w-85{
    width: 85%!important;
}
.w-90{
    width: 90%!important;
}
.w-95{
    width: 95%!important;
}

.col-form-label{
    padding-top: calc(.375rem + 7px);
    padding-bottom: calc(.375rem + 7px);
}
/*
    -----------------------------------------
    -----------------------------------------
*/
body{
	background-color: #f1f5fa;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
}
input[type=text].form-control, input[type=password].form-control, input[type=email].form-control{
	height: calc(1.5em + .75rem + 15px);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.btn-success, .btn-success:active, .btn-success:hover, .btn-success:focus{
    outline: none!important;
    border: none!important;
}
.btn-success:focus{
    -moz-box-shadow: 0px 5px 0px 0px #16994f!important;
    -webkit-box-shadow: 0px 5px 0px 0px #16994f!important;
    box-shadow: 0px 5px 0px 0px #16994f!important;
}
.btn-outline-success:focus, .btn-outline-success:active{
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.btn-success, .btn-white, .btn-light, .btn-primary{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #28d272;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-weight: bolder;
    font-size: 13pt;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
    border: none;
    -moz-box-shadow: 0px 5px 0px 0px #16994f;
    -webkit-box-shadow: 0px 5px 0px 0px #16994f;
    box-shadow: 0px 5px 0px 0px #16994f;
}
.btn-danger{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 13pt;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 5px 0px 0px #b82d3a;
    -webkit-box-shadow: 0px 5px 0px 0px #b82d3a;
    box-shadow: 0px 5px 0px 0px #b82d3a;
}
.btn-primary{
    background-color: #007bff;
    text-shadow: none;
    color: #fff;
    -moz-box-shadow: 0px 5px 0px 0px #0070e8;
    -webkit-box-shadow: 0px 5px 0px 0px #0070e8;
    box-shadow: 0px 5px 0px 0px #0070e8;
}
.btn-light{
    background-color: #fff;
    text-shadow: none;
    color: #272727;
    -moz-box-shadow: 0px 5px 0px 0px #ccc;
    -webkit-box-shadow: 0px 5px 0px 0px #ccc;
    box-shadow: 0px 5px 0px 0px #ccc;
}
.btn-success:hover{
    background-color: #1bbb60;
}
.btn-outline-success{
    border: 2px solid #28d272!important;
    color: #272727;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.btn-outline-success.login{
    border: 2px solid #28d272!important;
    color: #272727;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn-outline-success:hover{
    border: 2px solid #28d272!important;
    background-color: #28d272;
}

.btn-white{
    background-color: #fff;
    color: #272727;
    text-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-shadow: 0px 5px 0px 0px #f7a126;
    -webkit-box-shadow: 0px 5px 0px 0px #f7a126;
    box-shadow: 0px 5px 0px 0px #f7a126;
}
.btn-white:focus{
    -moz-box-shadow: 0px 5px 0px 0px #f7a126!important;
    -webkit-box-shadow: 0px 5px 0px 0px #f7a126!important;
    box-shadow: 0px 5px 0px 0px #f7a126!important;
}
.btn-white:active{
    background-color: #f1f1f1;
}

.social-link:hover{
    cursor: pointer;
}
footer{
    background-color: #fff;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer .link{
    color: #272727;
}
body.bg, .container-bg{
    background-image: url('../img/bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-bg{
    background-color: #f1f5fa;
}
.navbar .nav-link{
    color: #272727;
}
.navbar .nav-link.active{
    border-bottom: 2px solid #28d272;
}
.dropdown-menu{
    border: none;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .1);
}
.dropdown-toggle[data-hasicon=false]::after{
    content: "";
    display: none;
}
.profile-dropdown span{
    color: #28d272;
    font-weight: 500;
}
.profile-dropdown button{
    outline: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.main-header-section{
    position: relative;
}
.main-header-section h4{
    font-size: 21pt;
    margin-bottom: 20px;
}
.main-header-section h1{
    font-size: 32pt;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 45pt;
}
.main-header-section h5{
    font-size: 19pt;
    font-weight: 300;
}
.main-header-section button{
    padding-bottom: 10px;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-top: -6px;
}
.main-header-section input{
    width: 50%!important;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    height: calc(1.5em + .75rem + 20px)!important;
    background-image: url('../img/edit.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 11pt;
    background-position: 20px center;
}

.main-header-section-hint{
    position: absolute;
    bottom: -25px;
    left: 190px;
    text-align: left;
    font-size: 11pt;
}
.main-header-section-hint::before{
    content: "";
    display: block;
    position: absolute;
    left: -50px;
    top: -20px;
    background-image: url('../img/line.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.portfolio a{
    text-decoration: none;
    color: #272727;
}
.portfolio-video-img-holder{
    position: relative;
    cursor: pointer;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
}
.portfolio-video-img-holder:hover .play-btn{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.two-d-bottom-img:hover .play-btn{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.two-d-bottom-img{
    cursor: pointer;
}

.portfolio-script img:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)!important;
    -moz-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

/*
    ------------------------
    REGULAR PAGE
    ------------------------
*/
.regular-page h1,
.regular-page h2,
.regular-page h3,
.regular-page h4,
.regular-page h5,
.regular-page h6{
    width: auto;
    font-weight: bolder;
}
.regular-page h1 > hr,
.regular-page h2 > hr,
.regular-page h3 > hr,
.regular-page h4 > hr,
.regular-page h5 > hr,
.regular-page h6 > hr{
    display: block;
    /*float: left;*/
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 3px solid #28d272;
    width: 45%;
}

.regular-page hr.w-10{
    width: 10%;
}
.regular-page hr.w-15{
    width: 15%;
}
.regular-page hr.w-20{
    width: 20%;
}
.regular-page hr.w-30{
    width: 30%;
}
.regular-page p{
    font-size: 14pt;
    font-weight: 300;
}
.regular-page textarea{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.regular-page .btn-outline-success, .regular-page .btn-outline-success:hover{
    -webkit-transition: color 0s;
    -moz-transition: color 0s;
    -ms-transition: color 0s;
    -o-transition: color 0s;
    transition: color 0s;
}

/*
    ------------------------
    ABOUT SLICK SLIDER
    ------------------------
*/
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -21px;
    cursor: pointer;
}
.slick-left{
    left: -20px;
}
.slick-right{
    right: -20px;
}
.slick-dots li.slick-active button:before{
    color: #28d272!important;
}
.slick-dots li button::before{
    opacity: 1!important;
    font-size: 20pt!important;
}
.about-slider-text{
    display: none;
}
.about-slider-text.active{
    display: block;
}
.attach{
    position: absolute;
    right: 20px;
    top: -35px;
}
.video-type:hover{
    cursor: pointer;
}
.video-type a{
    text-decoration: none;
    color: #272727;
}
.my-video{
    position: relative;
}
.in-process{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    left: 0;
    background-image: url('/img/settings.svg');
    background-color: rgba(0, 0, 0, .7);
    background-repeat: no-repeat;
    background-position: center 35%;
    -webkit-border-radius: .25rem!important;
    -moz-border-radius: .25rem!important;
    border-radius: .25rem!important;
    background-size: 30%;
}
.in-process span, .new-script span{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 65%;
}
.new-script{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #272727;
    font-weight: bold;
    background-image: url('/img/new_shadow.png');
    background-repeat: no-repeat;
    background-position: center 40%;
    -webkit-border-radius: .25rem!important;
    -moz-border-radius: .25rem!important;
    border-radius: .25rem!important;
    background-size: 40%;
    cursor: pointer;
}
/*
    ------------------------
    PROFILE
    ------------------------
*/
.profile{
    font-size: 12pt;
}
.my-h2{
    line-height: 40pt;
}
.project-timeline .step{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.project-timeline .step.done{
    background-color: #28d272;
}
.step.disabled{
    opacity: .7;
    pointer-events: none;
}
.project-timeline .step:not(:last-child):nth-of-type(odd)::after{
    display: none;
    width: 100px;
    height: inherit;
    content: "";
    position: absolute;
    right: -90px;
    top: -43px;
    z-index: -1;
    background-image: url('../img/line-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.project-timeline .step:not(:last-child):nth-of-type(even)::after{
    width: 100px;
    height: inherit;
    content: "";
    position: absolute;
    right: -90px;
    top: 43px;
    z-index: -1;
    background-image: url('../img/line-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.project-timeline .script-processing{
    background-image: url('../img/document.svg');
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.project-timeline .script-done{
    background-image: url('../img/document-1.svg');
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.project-timeline .comment{
    background-image: url('../img/chat.svg');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.project-timeline .video-processing{
    background-image: url('../img/movie.svg');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.project-timeline .video-done{
    background-image: url('../img/movie-1.svg');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.project-timeline .current::before{
    width: 38px;
    height: 35px;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -30px;
    background-image: url('../img/down-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.project-timeline .step-text{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    font-size: 11pt;
    white-space: nowrap;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}
.project-timeline span{
    display: block;
}
.how-it-works p{
    font-size: 13pt;
    line-height: 17pt!important;
}
.hidden-step{
    display: none;
}
.how-it-works-step-2{
    margin-top: 140px;
}
.how-it-works-step-3{
    margin-top: 150px;
}
.how-it-works-step-4{
    margin-top: 140px;
}
.how-it-works-step-5{
    margin-top: 180px;
}
.video-2d{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
header.dark .profile-dropdown span{
    color: #fff;
}
.landing-page h1{
    font-weight: bolder;
    color: #fff;
    font-size: 35pt;
    position: absolute;
    top: 300px;
    width: 40%;
}
.landing-top{
    height: 100%;
    min-height: 444px;
}

section.bg-green p{
    color: #fff;
    font-weight: bold;
}
section.bg-green .h1{
    font-weight: 900;
    font-size: 38pt;
}
section.bg-green .text-orange{
    text-shadow: 0 1px 35px #ffbf19;
}
section.bg-green{
    margin-bottom: -50px;
    background-image: url('../img/bg-green.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-h1{
    color: #272727!important;
    background-color: #fff;
    font-size: 40pt;
    top: 200px!important;
    left: 450px;
    width: auto!important;
    padding: 15px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.step-textarea{
    padding: 20px;
    min-height: 100px;
    max-height: 300px;
}
#videoModal .modal-dialog{
    max-width: 70%!important;
    height: 80%!important;
}
#timer{
    line-height: 30pt;
    font-size: 45pt;
    font-weight: 500;
    color: #22c368;
}
.time-separator{
    color: #272727;
    font-size: 40pt;
    margin: 0 4px;
}
.nav-script{
    color: #272727;
}
.nav-script.active{
    background-color: #28d272!important;
}

.step-desc{
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #f2f2f2;
    font-style: italic;
    font-size: 11pt;
    color: #777;
}

.director-text{
    position: absolute;
    padding: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    display: block;
    width: 450px;
    margin-left: -180px;
    top: -150px;
}