@media(max-width: 768px){
    .navbar-brand{
        width: 75%;
    }
    .navbar-brand img{
        width: 100%;
    }
    svg{
        display: none;
    }
    footer li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-header-section{
        margin-top: 30px;
    }
    .main-header-section h1{
        font-size: 25pt;
        line-height: 30pt;
    }
    .main-header-section input {
        width: 100%!important;
    }
    .main-header-section button{
        margin-top: 20px;
        width: 100%;
    }
    .regular-page h1{
        font-size: 20pt;
        margin: 0 auto;
    }
    .regular-page p{
        font-size: 13pt;
    }
    .navbar .nav-link.active{
        border-bottom: none;
    }
    .how-it-works-step-1,
    .how-it-works-step-2,
    .how-it-works-step-3,
    .how-it-works-step-4,
    .how-it-works-step-5{
        margin-top: 0;
        text-align: left!important;
    }
    .hidden-step{
        display: block;
    }
    .steps-to-hide{
        display: none;
    }
    body .video-2d{
        display: none;
    }
    .video-2d-h1{
        top: 140px!important;
        width: 80%!important;
    }
    .video-3d-h1{
        top: 140px!important;
        font-size: 25pt!important;
        width: 60%!important;
    }
    .video-presentation-h1{
        font-size: 25pt!important;
    }
    .promo-h1{
        left: 25px!important;
        font-size: 17pt!important;
    }
    .navbar{
        z-index: 1;
        background-color: #fff!important;
    }
    header.dark .profile-dropdown span{
        color: #272727;
    }
    .navbar .dropdown-menu-right{
        left: 0!important;
        right: auto!important;
    }
    .landing-top{
        margin-top: -67px!important;
    }
    #two_d_video_top{
        background-size: cover;
        background-image: url('../img/2d-bg.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #three_d_video_top{
        background-size: cover;
        background-image: url('../img/3d-bg.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #presentation_video_top{
        background-size: cover;
        background-image: url('../img/presentation-bg.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #promo_video_top{
        background-size: cover;
        background-image: url('../img/promo-bg.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #videoModal .modal-dialog{
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 90%!important;
    }
}

@media(min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link{
        margin: 0 1rem;
    }
    footer.sticky{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .px-md-4-5{
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
    .min-vh-md-10{
        min-height: 10vh;
    }
    .min-vh-md-20{
        min-height: 20vh;
    }
    .min-vh-md-30{
        min-height: 30vh;
    }
    .min-vh-md-40{
        min-height: 40vh;
    }
    .min-vh-md-50{
        min-height: 50vh;
    }
    .min-vh-md-60{
        min-height: 60vh;
    }
    .min-vh-md-70{
        min-height: 70vh;
    }
    .min-vh-md-80{
        min-height: 80vh;
    }
    .min-vh-md-90{
        min-height: 90vh;
    }
    .w-md-50{
        width: 50%;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    .my-h2{
        line-height: 25pt;
        font-size: 20pt;
    }
    .my-h4{
        font-size: 14pt;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .my-h2{
        line-height: 35pt;
    }
}